<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - blogcsharp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/blogcsharp.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">blogcsharp</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Zdjecia" asp-action="Galeria">Zdjecia</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Kontakt" asp-action="Formularz">Kontakt</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

    </header>
    <div class="container">
        <main role="main" class="row">
           <div class="col-3">
                <ul class="">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Zdjecia" asp-action="Galeria">Zdjecia</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Kontakt" asp-action="Formularz">Kontakt</a>
                    </li>
                </ul>
           </div>
           <div class="col-9">
            @RenderBody()
            </div>

        </main>
    </div>

    <footer style="background-color: rgba(96, 197, 255, 0.336); border-radius: 10px;" class="m-2">
        <h2 class="pt-2 pb-4 ps-3">Znajdź nas również na:</h2>
        <div class="container-fluid row text-center pb-5">
            <b style="font-size: large;" class="col-12 col-sm-3 col-md-3 col-lg-3 col-xl-3 col-xxl-3">Facebook</b>
            <b style="font-size: large;" class="col-12 col-sm-3 col-md-3 col-lg-3 col-xl-3 col-xxl-3">Youtube</b>
            <b style="font-size: large;" class="col-12 col-sm-3 col-md-3 col-lg-3 col-xl-3 col-xxl-3">Instagram</b>
            <b style="font-size: large;" class="col-12 col-sm-3 col-md-3 col-lg-3 col-xl-3 col-xxl-3">LinkedIn</b>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
