@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<img src="https://picsum.photos/900/200" class="py-3" style="border-radius: 50px;" />
<h2 class="text-center py-5"> Ogólne informacje o Mauritiusie:</h2>
<p class="pt-5" style="font-size: medium;">
    Mauritius (fr. Maurice), Republika Mauritiusu[3]
    (ang. Republic of Mauritius, fr. République de Maurice) – państwo wyspiarskie położone w
    południowo-zachodniej części Oceanu Indyjskiego, w archipelagu Maskarenów, około 900 km na
    wschód od Madagaskaru i ok. 170 km na północny wschód od Reunionu. Poza samą wyspą Mauritius
    do Republiki Mauritiusu należą także: wyspa Rodrigues (w odległości 563 km na wschód od
    wyspy głównej), archipelag Cargados Carajos (402 km na północ) i Wyspy Agalega (933 km na
    północ).
    Mauritius razem z wyspami Reunion i Rodrigues jest częścią archipelagu Maskarenów.
    Archipelag ten powstał miliony lat temu w wyniku podwodnych erupcji wulkanicznych.
</p>
<p class="pt-2" style="font-size: medium;">
    Wyspa została odkryta przez Portugalczyków w 1505
    roku. Skolonizowana została przez Holendrów w 1638 i nazwana imieniem księcia Maurycego
    Orańskiego. Francuzi opanowali wyspę w XVIII wieku, zmieniając nazwę na Île de France. Nazwa
    Mauritius została przywrócona w 1810 roku, gdy Brytyjczycy przejęli wyspę. Anglicy znieśli
    niewolnictwo i zaczęli sprowadzać robotników z Indii.

    Mauritius uzyskał niezależność w 1968 roku. 18 kwietnia 1968 roku na podstawie Rezolucji
    Rady Bezpieczeństwa ONZ nr 249 Mauritius został członkiem ONZ[4].

    Kraj stał się republiką w ramach Wspólnoty Narodów w 1992. Jest jednym z nielicznych krajów
    afrykańskich posiadających stabilną demokrację z regularnie odbywającymi się wolnymi
    wyborami i przestrzeganymi prawami człowieka. Dzięki rozwiniętemu sektorowi turystycznemu
    przyciągnął znaczne zagraniczne inwestycje, osiągając tym samym jeden z najwyższych w Afryce
    dochodów na obywatela.
</p>
<p class="pt-2 pb-5" style="font-size: medium;">
    Mauritius razem z wyspami Reunion i Rodrigues
    jest
    częścią archipelagu Maskarenów. Archipelag ten powstał miliony lat temu w wyniku podwodnych
    erupcji wulkanicznych.

    Stolicą wyspy i największym miastem jest Port Louis, leżący po północno-zachodniej stronie
    wyspy. Inne większe miasta: Curepipe, Vacoas-Phoenix, Beau Bassin, Quatre Bornes oraz Rose
    Hill.

    Wyspa (1865 km² powierzchni) ma w przybliżeniu kształt owalu o dłuższej średnicy 61 km i
    krótszej 47 km. Linia brzegowa ma 161 km długości. Najwyższe wzniesienie, Piton de la Petite
    Riviére Noire, 826 m n.p.m. Wnętrze wyspy obejmuje płaskowyż o średniej wysokości 671 m
    n.p.m., charakteryzujący się znaczną wielkością opadów (średnio 510 cm rocznie). Płaskowyż
    opada łagodnie ku północy przechodząc w nadmorską równinę, natomiast od południa i zachodu
    opada stromymi urwiskami ku wąskiemu pasmu wybrzeża.
</p>
<img src="https://picsum.photos/950/200" class="py-4" style="border-radius: 50px;" />